@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --swiper-navigation-color: rgba(208, 67, 67, 0.6);
}

.window-scroll {
    background: rgba(236, 231, 231, 0.8);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
    transform: translateY(-100%);
    transition-timing-function: linear;
}

#hero.hidden {
    transform: translateX(-100%);
}

#hero {
    height: 15.3em;
    position: relative;
    top: 100%;
    overflow: hidden;
    color: #fff;
}

#hero>* {
    position: absolute;
    height: 100%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 80px;
    animation: 30s main infinite ease-in-out;
    width: 70%;

}

#hero>* p {
    margin-top: 10px;
    font-size: 18px;
}

@keyframes main {
    0% {
        top: 100%
    }

    4% {
        top: 20%
    }

    20% {
        top: 20%;
    }

    24% {
        top: -100%
    }

    100% {
        top: -100%
    }
}

#hero>*:nth-child(1) {
    animation-delay: 0s;
}

#hero>*:nth-child(2) {
    animation-delay: 6s;
}

#hero>*:nth-child(3) {
    animation-delay: 12s;
}

#hero>*:nth-child(4) {
    animation-delay: 18s;
}

#hero>*:nth-child(5) {
    animation-delay: 24s;
}

#hero>*:focus {
    animation-play-state: paused;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}

#hero.show {
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.container {
    margin: 0 40px;
}

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}


.logo img {
    width: auto;
    height: 70px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    display: none;
    background: none;
    border: none;
    font-size: 35px;
}

.nav__menu {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    transition: all 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.nav__menu a {
    text-decoration: none;
    color: #000;
    opacity: 80%;
    font-size: 18px;
    font-variant: all-petite-caps;
    font-weight: 500;
    transition: all;
    transition-timing-function: linear;
}

.nav__menu a:hover,
.logo a:hover,
.centred a:hover,
.services__content a:hover,
footer .links ul li a:hover {
    color: rgb(236, 81, 81);
    border-bottom: 3px solid rgb(250, 20, 20);
    opacity: 1;
}

.nav__menu a:focus,
.logo a:focus,
.centred a:focus,
.services__content a:focus {
    color: rgb(250, 20, 20);
}

.logo a:hover {
    border-bottom: none;
}

.logo a {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
    font-variant: all-petite-caps;
}

.logo a h1 {
    opacity: 60%;
}

main {
    background-image: url(../images/bg.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero h3 {
    font-size: 24px;
}

#hero h1 {
    font-size: 48px;
}

.hero__btn {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.hero__btn a,
form button {
    height: 30px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    background: rgb(250, 20, 20);
    border-radius: 3px;
    margin: auto;
    font-weight: 500;
    transition: all 1.5s;
    transition-timing-function: linear;
}

.hero__btn a:hover,
form button:hover {
    background: rgba(220, 220, 220, 0.3);
}

.hero__btn a:nth-of-type(2) {
    background: rgba(220, 220, 220, 0.5);
}

.hero__btn a:nth-of-type(2):hover {
    background: rgb(250, 20, 20);
}

.centred {
    background: #fff;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 20px 50px;
}

.centred h2 {
    margin-bottom: 10px;
}

p {
    line-height: 1.5rem;
}

.centred p {
    margin-bottom: 35px;
}

.centred a,
.services__content a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    opacity: 60%;
    border-bottom: 3px solid rgba(250, 20, 20, 0.3);
    transition: all 1s;
    transition-timing-function: linear;
    transition-delay: 50ms;
}

.call {
    padding-top: 15px;
    text-align: center;
    background: #fff;
    color: #0e6045;
}

.whatsapp {
    background: transparent;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    height: fit-content;
    z-index: 12;
}

.whatsapp a {
    color: #49d449;
    font-size: 50px;
}

#services {
    margin-top: 50px;
    text-align: center;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 20px;
    border-radius: 7px 7px 0 0;
    padding: 0 45px;
    padding-bottom: 25px;
    margin-top: 20px;
}

.card .image {
    margin: auto;
    height: 200px;
    width: 70%;
    border-radius: 45%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(208, 67, 67, 0.6);
}


#faqs .container h1,
.services__content h1 {
    width: max-content;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-size: 36px;
    border: #fff;
    box-shadow: 1px 0px 12px rgba(208, 67, 67, 0.6);
}

.services__content h1 {
    margin: 0 auto 30px;
}

.card .image h1 {
    width: 100%;
    margin: auto;
    font-size: 24px;
    padding: 0;
    border: none;
    box-shadow: none;
}

.card p {
    margin: auto;
    border: 3px solid rgba(241, 8, 8, 0.3);
    border-top: none;
    border-left: none;
    border-radius: 10px;
    padding: 15px;
}

#bathroom .image {
    background-image: url(../images/bathroom.webp);
}

#painting .image {
    background-image: url(../images/painting.jpeg);

}


#floor .image {
    background-image: url(../images/tiling.jpg);

}


#kitchen .image {
    background-image: url(../images/kitchen.jpeg);

}

#landscape .image {
    background-image: url(../images/lawn.jpg);

}

#basement .image {
    background-image: url(../images/basement.jpeg);
}

#cleaning .image {
    background-image: url(../images/cleaning.webp);
}

#roof .image {
    background-image: url(../images/renovations.jpg);
}

#paving .image {
    background-image: url(../images/paving.jpg);
}

#pool .image {
    background-image: url(../images/pool.jpeg);
}

#about .header img {
    height: 200px;
    border-radius: 50%;

}

#about .header h1 {
    border-right: 1px solid rgba(241, 8, 8, 0.8);
    display: inline-block;
    padding: 15px;
}

#about .header {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .header p {
    display: inline-block;
    padding: 15px;
}

.container__about .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .5rem;
    padding: 30px;
}


.about h1,
.about p,
.value h2,
.values h4 {
    text-align: center;
}

.about p {
    padding-top: 10px;
}


.uil-eye {
    color: #7aa90480;
    font-size: 36px;
}

.uil-focus-target {
    color: rgb(81, 236, 161);
    font-size: 36px;
}

.uil-dna {
    color: #0e6045;
    font-size: 36px;
}

.uil-search {
    font-size: 36px;
    color: #b4dbf358;
}

.uil-bolt {
    font-size: 36px;
    color: #9c9c34;
}

.uil-shield-check {
    font-size: 36px;
}

.values {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .5rem;
    padding: 2rem;
}

.value {
    border: 1px solid rgba(169, 76, 4, 0.2);
    border-bottom: none;
    border-radius: 5px;
}

.featured {
    text-align: center;
}

.container__why {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.right__why {
    margin: 19px 0;
}

.right__why img {
    height: 21rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 13px;
    display: block;
    margin: auto;
}

.left__why .cards {
    background: none;
}

.left__why .card p {
    border: 3px groove #d6b87380;
    margin-top: 10px;
    box-shadow: inset 10px 0px 30px rgba(208, 67, 67, 0.2),
        0px 20px 21px rgba(0, 0, 0, 0.1);
}

.left__why .card h2 {
    text-align: center;
}


.container__faqs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 45px;
    box-shadow: inset 0 0 3rem rgba(174, 173, 173, 0.1);
}


.faq__image {
    display: block;
    margin: auto;
}

.faqs {
    padding: 30px;
}

.answer {
    display: none;
    background: none;
}

.faq.open p {
    display: block;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq {
    background: #f2f2e980;
    cursor: pointer;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    margin-top: 5px;
    transition: all 1s;
    transition-timing-function: linear;

}



.avatar div {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    border-radius: 45%;
    margin: auto;
}

.avatar img {
    height: 11rem;
    width: 11rem;
    object-fit: cover;
}

.avatar h6 {
    margin-top: 1.3rem;
}

.avatar p {
    padding-bottom: 15px;
    opacity: .6;
}

.swiper {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.testimonial__body p {
    padding: 0 40px;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-wrapper {
    margin: 40px;
}

.container__contact {
    text-align: center;
}

form {
    margin-top: 20px;
}

input,
textarea {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    font-size: inherit;
    border-radius: 10px;
    background: transparent;
    padding: 20px;
    box-shadow: 1px 0px 12px rgba(154, 164, 169, 0.6);
    border: transparent;
}

input:focus,
textarea:focus {
    box-shadow: inset 0 0 .4rem rgba(208, 67, 67, 0.6);
}

form button {
    display: block;
    margin-top: 30px;
    border: none;
    margin-bottom: 20px;
    font: inherit;
    cursor: pointer;
}

.contact-details {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    font-size: inherit;
    align-items: center;
}

.contact-details span .uil {
    font-size: 40px;
}

.contact-details span .uil-envelope-edit {
    color: rgba(208, 67, 67, 0.6);
}

.contact-details span .uil-phone {
    color: #0e6045;
}

footer {
    text-align: center;
    margin-top: 100px;
    background: rgba(154, 164, 169, 0.3);
}

footer .links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    padding: 30px 0 30px 0;
}

footer .links ul {
    list-style: none;
}

footer .links ul li {
    margin-top: 10px;
}

footer .links ul li a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}


footer .links .socials a {
    font-size: 36px;
    color: rgb(47, 60, 66);
}

footer .links .location h4 {
    margin-bottom: 15px;
}

footer .links .socials,
footer .links .footer__menu,
footer .links .location {
    padding-top: 30px;
}

footer .links .socials ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
}

footer .container .copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 30px 0 30px 0;
}

footer .uil-heart {
    color: #ff0000;
}

@media (max-width: 64rem) {

    .container {
        padding: auto;
    }

    .nav__menu {
        display: none;
    }

    .nav__menu li {
        margin-bottom: 2rem;
    }

    .nav__menu a:hover {
        border-bottom: none;
    }

    nav {
        width: 100vw;
        transform: translateY(0%);
        transition: all 2s;
        transition-timing-function: linear;
        background: #fff;
    }

    nav .container {
        display: block;
    }

    nav button {
        position: absolute;
        display: block;
        right: 10px;
        top: 30px;
        transition: all 2s;
        transition-timing-function: linear;
        transform: translateX(-100%);
    }

    #close-menu {
        display: none;
    }

    #hero {
        height: 17.5em;
    }

    .hero__btn {
        width: auto;
        gap: 8px;
    }

    .centred {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .right__why img {
        width: 80%;
        margin: auto;
    }

    .container__why {
        margin-bottom: 30px;
    }

    .container__faqs {
        grid-template-columns: 1fr;
    }

    #faqs .container h1 {
        width: max-content;
        padding: 10px;
    }

    .services__content h1:nth-of-type(1) {
        width: 100%;
        padding: 10px;
    }

    .swiper-wrapper {
        margin: 20px;
    }

    input,
    textarea {
        width: 90%;
    }

    .contact-details {
        width: 100%;

    }
}

@media (max-width: 540px) {
    .container {
        margin: 15px;
    }

    nav .container {
        margin: 10px;
        height: auto;
    }

    #hero {
        height: 20em;
    }


    @keyframes main {
        0% {
            top: 100%
        }

        4% {
            top: 10%
        }

        20% {
            top: 10%;
        }

        24% {
            top: -100%
        }

        100% {
            top: -100%
        }
    }

    .hero__btn {
        grid-auto-flow: row;
    }

    #faqs .container h1 {
        width: 95%;
        padding: 10px;
    }


    .faq__image img {
        width: 15rem;
    }

    input,
    textarea {
        width: 100%;
    }

    .contact-details {
        width: 100%;
        text-align: start;
        display: grid;
    }

    footer .container .copyright,
    footer .container .location,
    footer .container .socials,
    footer .container .footer__menu {
        grid-template-columns: 1fr;
        text-align: start;
    }
}